.new-tank {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(120deg, #7DD0E7 60%, #CBECF6 88%);
    color: #022F40;
    height: 532px;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 15px;
}

.input-text-field, .input-number {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #219EBC;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-bottom: 30px;
}

.input-text-field:focus, .input-text-field:hover, .input-number:focus, .input-number:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #016E89;
    text-align: center;
}

.input-text-field::placeholder, .input-number::placeholder {
    color: #219EBC;
    text-align: center;
}

.input-text-field:focus::placeholder, .input-number:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px;
    margin-bottom: 30px;
}

.radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #219EBC;
    position: relative;
    margin-right: 5px;
}

.radio-circle::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before {
    transform: translate(-50%, -50%) scale(1);
    background-color: #219EBC;
}

.radio-label {
    font-size: 16px;
    font-weight: bold;
}

.radio-button:hover .radio-circle {
    border-color: #016E89;
}

.radio-button:hover input[type="radio"]:checked + .radio-circle::before {
    background-color: #016E89;
}

.dropdown-temperature {
    padding: 8px;
    font-size: 13px;
    border-style: none;
    border-radius: 4px;
    width: 150px;
    margin-bottom: 30px;
    background-color: #219EBC;
    color: #014B69;
}

.dropdown-temperature:focus {
    outline: none;
}

option {
    text-align: center;
}

#range-value {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #016E89;
    font-weight: 400;
}

.input-range {
    width: 200px;
    height: 15px;
    -webkit-appearance: none;
    background: #219EBC;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #016E89;
    cursor: pointer;
    border: 2px solid #219EBC;
    box-shadow: -407px 0 0 400px #016E89;
}

.two-buttons {
    display: flex;
}