.body.active-modal {
    overflow-y: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    margin-top: 70px;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto; /* Hinzugefügt, um Scrollen im Modal zu ermöglichen */
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 15px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

#add-fish-card {
    background: linear-gradient(120deg, #7DD0E7 60%, #CBECF6 88%);
    color: #022F40;
    height: 270px;
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
    line-height: 15px;
}

.modal img {
    width: 70px;
}

.add-fish-modal-button {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    font-weight: bolder;
    background-color: #014B69;
}

.close-modal-button {
    position: fixed;
    top: 50px;
    right: 1%;
    transform: translateX(-50%);
    height: 40px;
    font-weight: bolder;
    background-color: #014B69;
    border-radius: 100px;
    width: 40px;
    z-index: 400;
}

@media screen and (max-width: 600px) {
    .modal-content {
        padding: 10px;
    }
}
