.fish-card {
    background-color: transparent;
    width: 150px;
    height: 240px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 10px;
}

.fish-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.fish-card:hover .fish-card-inner {
    transform: rotateY(180deg);
}

.fish-card-front, .fish-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.fish-card-front {
    background: linear-gradient(120deg, #7DD0E7 60%, #CBECF6 88%);
    color: #022F40;
}

.fish-card-back {
    background: linear-gradient(120deg, #CBECF6 30%, #7DD0E7 88%);
    color: #022F40;
    transform: rotateY(180deg);
    line-height: 2px;
    font-size: 15px;
}

h2 {
    font-size: 18px;
}

img {
    display: flex;
    justify-content: center;
    width: 120px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
