.tanks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    width: 110px;
    display: block;
    margin: 20px auto 0;
    font-size: 18px;
    border-radius: 7px;
    border-style: none;
    background-color: #219EBC;
    color: #016E89;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #016E89;
    color: #219EBC;
}

#new-aquarium-button {
    width: 170px;
    margin-bottom: 10px;
}