.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(97, 218, 251, 0.5);
}

.logo {
    width: 0.5px;
    margin-right: auto;
    margin-left: auto;

}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin: 0 10px;
}

.nav {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.nav:hover {
    color: #3b557b;
    font-weight: bold;
}



