button {
    margin-top: 10px;
}

.tank-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(120deg, #7DD0E7 60%, #CBECF6 88%);
    color: #022F40;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}
