button {
    margin-top: 10px;
}

.tank-card {
    background-color: #7DD0E7;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
